body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #f58529, #dd2a7b, #8134af); /* 배경 그라데이션 */
}
.auth-box {
  width: 320px;
  padding: 30px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.auth-box form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-box input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.auth-box button {
  background: #3897f0;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
